@model IEnumerable<Forum.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-controller="Posts" asp-action="Create" sp-route-id="@ViewBag.Topic">Create New</a>
</p>

@foreach (var item in Model)
{
    @: <div class="well">
    
        @: <div class="well">
            @Html.ActionLink(item.Details, "Details", "Posts", new { id = item.PostId }, null)
        @:</div>

        <div>
            @item.User.WebName
            @item.Topic.Category.Name
            @item.Topic.Name
            @item.CreateDate
        </div>
    @: </div>
}