@{
    ViewData["Title"] = "Home Page";
}

    <h2>Recent Posts</h2>
    @foreach(Post post in Model)
    {
        @: <div class="well">
                <div class="well">
                    @Html.ActionLink(post.Details.Substring(0, Math.Min(10, post.Details.Length)), "Details", "Posts", new { id = post.PostId }, null)
                      
                </div>
                <div>
                    @post.User.WebName
                    @post.Topic.Category.Name 
                    @post.Topic.Name 
                    @post.CreateDate
                </div>
        @: </div>
    }
